
/*------------------------Variables--------------------------------*/

:root {
    --header-height: 3.5rem;
    --first-color: hsl(354, 78%, 60%);
    --button-color: hsl(0, 0%, 17%);
    --button-color-alt: hsl(0, 0%, 21%);
    --card-color: hsl(0, 0%, 90%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --text-color-light: hsl(0, 0%, 55%);
    --body-color: hsl(206, 4%, 97%);
    --container-color: #fff;
    --border-color: hsl(0, 0%, 94%);
    --body-font: 'Roboto', sans-serif;
    --biggest-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --font-medium: 500;
    --font-bold: 700;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*------------------------Menu Styles--------------------------------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
}

body {
    margin: 0;
    background-color: var(--body-color);
    color: var(--text-color);
    transition: .4s;
}

body, button, input {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

header{
    width: 100%;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

header.abajo{
    background-color: var(--container-color);
    box-shadow: 0 1px 4px rgba(116, 48, 48, 0.1);
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.logo{
    display: flex;
    align-items: center;
    text-align: center;
}

.logo img{
    width: 27px;
    align-items: center;
}

.logo h2{
    text-transform: uppercase;
    font-weight: var(--font-bold);
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    column-gap: 0.25rem;
    font-size: 1rem;
    margin-left: 15px;
}

.icon-menu{
    margin: 0 5px;
}


/* Estilos para el ícono del Menú */
.icono-menu-container{
    margin: 20px 10px;
    position: relative;
    z-index: 10;
    display: flex;
}


.icono-menu img{
    vertical-align: top;
    width: 20px;
    cursor: pointer;
    margin: 0 5px;
}



/* Estilos para el contenedor del Menú */
.nav__menu{
    background-color: var(--container-color);
    box-shadow: 2px 0px 5px 2px rgb(66,66,66);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease;
}

/* Estilos por agregar en JavaScript */
.active{
    transform: translate(768px);
    -webkit-transform: translate(768px);
    -moz-transform: translate(768px);
    -ms-transform: translate(768px);
    -o-transform: translate(768px);
}

.show-menu {
    right: 0;
}


.nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}
.nav__link {
    color: var(--title-color);
    font-weight: var(--font-medium);
    text-transform: uppercase;
    font-size: var(--h2-font-size);
    transition: .3s;
}

.nav__link:hover {
    color: var(--first-color);
}

.active-link {
    color: var(--first-color);
}

ul {
    list-style: none;
}

.active-link:active{
    color: var(--first-color);
}


/*-----------------Home-------------------*/

.home__container {
    position: relative;
    row-gap: 2.5rem;
}
.grid {
    display: grid;
}

.home__img-bg {
    background-color: var(--first-color);
    width: 258px;
    height: 430px;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    justify-self: flex-end;
    transform: translateX(1.5rem);
}

.home__img {
    width: auto;
}
img {
    max-width: 100%;
    height: auto;
}

.home__title {
    font-size: var(--biggest-font-size);
    font-weight: var(--font-bold);
    margin-bottom: var(--mb-1);
}
h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.home__description {
    margin-bottom: var(--mb-1-5);
}

.home__price {
    display: inline-block;
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    color: var(--first-color);
    margin-bottom: var(--mb-3);
}

.button {
    display: inline-block;
    background-color: var(--button-color);
    color: #FFF;
    padding: 1.25rem 2rem;
    font-weight: var(--font-medium);
    transition: .3s;
}

.home__btns {
    display: flex;
    align-items: center;
}
.button:hover {
    background-color: var(--first-color);
    color: var(--body-color);
}

.button--small {
    padding: 1rem 1.5rem;
}
.button--gray {
    background-color: hsl(0, 0%, 75%);
    color: var(--title-color);
}

.button--gray:hover {
    background-color: hsl(0, 0%, 63%);
}

a {
    text-decoration: none;
}



.home__button {
    box-shadow: 0 12px 24px hsl(0deg 0% 10% / 20%);
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}
body, button, input {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

/*-----------------Poducts-------------------*/

.products {
    padding: 7rem 0;
}

.products__shape {
    background-color: var(--card-color);
    border-radius: 0.5rem 0.5rem 0 0;
    text-align: center;
    padding: 0.25rem 0;
}

.products__data {
    padding: 1rem 0 1.25rem 1rem;
    position: relative;
}

.products__price {
    font-size: var(--h2-font-size);
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.products__quantity {
    font-size: var(--small-font-size);
    color: var(--text-color);
}

.products__name {
    font-size: var(--normal-font-size);
}

.products__filters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-bottom: 3.5rem;
}
ul {
    list-style: none;
}

.products__item {
    cursor: pointer;
}
.products__line {
    position: relative;
}

.products__content {
    grid-template-columns: 200px;
    gap: 2rem;
    justify-content: center;
}
.grid {
    display: grid;
}

.products__card {
    background-color: var(--container-color);
    border-radius: 0.5rem;
}



.products__button {
    border-radius: 50%;
    padding: 0.625rem;
    display: inline-flex;
    font-size: 1.25rem;
    position: absolute;
    right: 1rem;
    top: -1.25rem;
    background-color: var(--body-color);
    color: var(--title-color);
    box-shadow: 0 4px 12px hsl(206deg 4% 4% / 20%);
}

.products__button:hover{
    background-color: var(--first-color);
    color: var(--body-color);
}



body, button, input {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

.products__shape {
    background-color: var(--card-color);
    border-radius: 0.5rem 0.5rem 0 0;
    text-align: center;
    padding: 0.25rem 0;
}

/*-----------------Footer-------------------*/

.footer {
    background-color: var(--card-color);
}
.section {
    padding: 6.5rem 0 1rem;
}

.footer__container {
    row-gap: 2rem;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 3rem;
}

.grid {
    display: grid;
}
.container {
    max-width: 1024px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.footer__title {
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-1-5);
}

.footer__list, .footer__links {
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
}
ul {
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.footer__link {
    color: var(--text-color);
}

.footer__social {
    display: flex;
    column-gap: 1rem;
}

.footer__social-link {
    font-size: 1.25rem;
    color: var(--text-color);
}

.footer__copy {
    display: block;
    margin: 3.5rem 0 1rem 0;
    text-align: center;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}

.bxl-twitter:before {
    content: "\e982";
}


/*-----------------Jquery-------------------*/

@media (min-width:576px){
    .home__img-bg {
        width: 340px;
    }
    .products__content {
        grid-template-columns: repeat(2, 200px);
        column-gap: 3rem;
    }
    .footer__container {
        grid-template-columns: repeat(2, 1fr);
    }


}

@media (max-width:767px){

    .nav__menu {
        position: fixed;
        background-color: var(--container-color);
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        padding: 6rem 2rem 3.5rem;
        transition: .3s;
    }
}

@media (min-width:767px) {

 
  .home__img-bg {
    order: 1;
    transform: translate(1.5rem, -6rem);
  }

  .home__container {
    padding-top: 6rem;
    grid-template-columns: 1fr max-content;
    align-items: center;
  }

  .home__data {
    padding: 0 0 3rem;
  }


  .section {
    padding: 8rem 0 1rem;
  }

  .footer__container {
    grid-template-columns: repeat(4, max-content);
    justify-content: space-between;
}
}

@media (min-width:1024px) {

  .container {
    margin-left: auto;
    margin-right: auto;
}

}